@font-face {
    font-family: "Bebas";
    src: url("../fonts/BEBASNEUE_REGULAR.woff2") format("woff2"),
    url("../fonts/BEBASNEUE_REGULAR.woff") format("woff"),
    url("../fonts/BEBASNEUE_REGULAR.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("ttf");
}

